header {
    background-color: #eea9b8; 
    color: #232b2b!important;
  }

  body {
    background-color:#edfbf8;
    color: #232b2b!important;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar {
    background-color:  #eea9b8; 
  }
  
  #carouselExample {
    background-color:  #eea9b8;
  }
  
  footer {
    background-color:  #edfbf8; 
    color: #232b2b!important; 
    width: 100%;
    margin:auto;
  }
footer p {
    margin-top: 5px;
}
  .social-icons {
    margin-top: 20px; 
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 15px; 
  }
  
  .social-icons img {
    width: 30px; 
    height: 30px; 
    filter: invert(0.60);
  }