/* Animation help for blink from Steve Mannion on codepen. 
The eyes were flying all over the place without him. 
No idea why they move when scaled?? translateY fixed it though. */

/* firefly tutorial from Geeksforgeeks */

#Tail {
  animation: wag 8s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#eyes {
  animation: blink 5s ease-in-out infinite; 
  transform-origin: center; 
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #2d2139;
}

.catContainer {
    max-width: 50vw;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

li {
  border-radius: 50%;
background-color: rgb(255, 255, 73);
background-image: 
radial-gradient(rgb(249, 206, 36) 5%,
                rgb(254, 179, 4) 25%,
                rgb(252, 191, 7) 60%);
box-shadow: 
    0 0 5px 2px rgb(250, 193, 93),
    0 0 20px 10px rgb(255, 228, 140),
    0 0 40px 15px rgb(255, 219, 41);
height: 5px;
width: 5px;
top: -20px;
position: absolute;
animation: leftright 30s infinite cubic-bezier(0.39, 0, 0.63, 1),
updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1),
blinking 3s infinite;
}

li:nth-of-type(1) {
  animation-delay: 1s;
  animation-duration: 65s, 90s, 1s;
  animation-fill-mode: backwards, backwards;
}

li:nth-of-type(2) {
  animation-delay: 2s;
  animation-duration: 80s, 75s, 1s;
}

li:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 70s, 60s, 1s;
  animation-fill-mode: backwards, backwards;
}

li:nth-of-type(4) {
  animation-delay: 2.5s;
  animation-duration: 90s, 80s, 1s;
}

@keyframes blink {

    90% {
      transform: none;
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-35px) scaleY(0)
    }
    100% {
      animation-timing-function: ease-out;
    }
  }

  @keyframes wag {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(7deg); 
    }
  }

  @keyframes leftright {
  
    0%,
    100% {
        left: 80%;
    }
  
    16.666% {
        left: 95%;
    }
  
    33.333% {
        left: 10%;
    }
  
    50% {
        left: 60%;
    }
  
    66.666% {
        left: 70%;
    }
  
    83.333% {
        left: 5%;
    }
}
  
@keyframes updown {
  
    0%,
    100% {
        top: 10px;
    }
  
    25% {
        top: 90%;
    }
  
    50% {
        top: 50%;
    }
  
    75% {
        top: 95%;
    }
}
  
@keyframes blinking {
    0%,
    100% {
        box-shadow: 0 0 5px 2px rgb(250, 193, 93), 
                      0 0 10px 5px rgb(255, 242, 63),
                    0 0 30px 10px rgb(255, 219, 41);
        height: 0;
        width: 0;
    }
  
    50% {
        box-shadow: 0 0 5px 2px rgb(250, 193, 93), 
                      0 0 20px 10px rgb(255, 228, 140),
                    0 0 40px 15px rgb(255, 219, 41);
    }
  
    75% {
        box-shadow: 0 0 0px 0px rgb(250, 193, 93), 
                      0 0 0px 0px rgb(255, 228, 140),
                    0 0 0px 0px rgb(255, 219, 41);
    }
}

 